<!-- Modal -->
<div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                Do you wan to delete this item ?
            </div>
            <div class="modal-footer">
                <button id ="modal-success" type="button" class="btn btn-modal-success">Yes</button>
                <button  type="button" class="btn btn-modal-cancel" data-dismiss="modal">No</button>               
            </div>
        </div>
    </div>
</div>
