.x_panel .x_content #create-category #Status{
    padding-bottom: 8px;
}

.x_panel .x_content #create-category .btn-primary a{
    color: white;
}

.error{
    color: red;
}

.edit{
    background-color: #1abb9c;
    padding: 7px;
    color: white;
}

.delete{
    background-color: red;
    padding: 7px;
    color: white;
}